@model IEnumerable<UnapecCaf.Models.Cafeterias>

@{
    ViewBag.Title = "Cafeterias";
}

<h2>Registros de cafeterias</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<form method="get">
    <input type="text" id="Busqueda" name="Busqueda" /> <input type="submit" id="cmdBuscar" value="Buscar" />
</form>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCampus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEncargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCampus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdEncargado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
